/* Chat page begin */

:root {
  --green: #1db954;
  --blue: #007bff;
  --grey: #6c757d;

  --light-grey: #eee;
}

.chats-page * {
  box-sizing: border-box;
}

.chats-page {
  display: flex;
  height: 100vh;
}

.chats-page h1,
.chats-page h2,
.chats-page h3,
.chats-page span,
.chats-page p {
  margin: 0;
  font-size: 15px;
}

.chats-page input,
.chats-page textarea {
  border: none;
  outline: none;
}

.chats-page .chats {
  flex-basis: 20%;
}

.chats-page .info {
  flex-basis: 25%;
}

.chats-page .chats .search {
  color: var(--grey);
  padding: 15px;
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}

.chats-page .chats .search i {
  font-size: 13px;
  margin-right: 5px;
}

.chats-page .chats .search-input {
  width: 100%;
}

.chats-page .chats .search-input input {
  width: calc(100% - 1.5rem);
  padding: 10px;
}

.chats-page .chats .search .fa-ellipsis {
  cursor: pointer;
}

.chats-page .chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  font-style: italic;
  border-left: 5px solid var(--light-grey);
  cursor: pointer;
  opacity: 0.7;
  border-bottom: 1px solid #d4d4d4;
  transition: 0.3s ease-in-out;
}

.chats-page .chat:hover {
  opacity: 0.9;
}

.chats-page .chat.active {
  opacity: 1;
}

.chats-page .chat i {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--grey);
  padding: 10px;
  border-radius: 50%;
}

.chats-page .chat-information {
  width: 80%;
}

.chats-page .chat .title-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chats-page .chat .date {
  color: var(--grey);
}

.chats-page .chat-area {
  flex-basis: 55%;
  position: relative;
  border-left: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
}

.chats-page .chat-area .header {
  padding: 10px 15px;
  height: 4rem;
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chats-page .chat-area .header .headers {
  display: flex;
  align-items: center;
}

.chats-page .chat-area .header .headers i {
  margin-right: 10px;
}

.chats-page .chat-area .header h1 {
  font-size: 17px;
}

.chats-page .chat-area .header h2 {
  color: var(--grey);
  font-weight: 400;
}

.chats-page .chat-area .conversation {
  padding: 0 15px;
  height: 60vh;
  border-bottom: 1px solid var(--light-grey);
  overflow-y: scroll;
}

.chats-page .chat-area .conversation img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 5px;
}

.chats-page .chat-area .conversation .receiver,
.chats-page .chat-area .conversation .sender {
  margin: 15px 0;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--light-grey);
}

.chats-page .chat-area .conversation .receiver {
  border: 1px solid var(--light-grey);
}

.chats-page .chat-area .conversation .sender {
  border: 1px solid rgba(0, 100, 255, 0.3);
}

.chat-area .conversation .sender {
  direction: rtl;
}

.chat-area .conversation .sender p {
  direction: ltr;
}

.chats-page .conversation .information {
  display: flex;
  align-items: center;
}

.chats-page .conversation .information .title {
  display: flex;
  align-items: center;
}

.chats-page .conversation .information h3 {
  margin: 0 5px;
}

.chats-page .chat-area .conversation .badge {
  padding: 3px 5px;
  background-color: var(--blue);
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
}

.chats-page .chat-area .conversation .date {
  color: var(--grey);
  margin: 0 5px;
}

.chats-page .chat-area .conversation .msgContainer {
  padding: 10px;
  text-align: left;
}

.chats-page .chat-area .message-area {
  padding: 10px;
  position: absolute;
  width: 100%;
  bottom: 20px;
  height: calc(100vh - (4rem + 63vh));
}

.chats-page .chat-area .write-message {
  width: 100%;
  resize: none;
  margin-bottom: 5px;
  height: calc(100% - 35px);
  outline: none;
  color: var(--grey);
  border: 1px solid var(--light-grey);
  padding: 10px;
  border-radius: 10px;
}

.chats-page .chat-area .message-area .send {
  position: absolute;
  color: #222f3e;
  background-color: #fff;
  font-weight: 800;
  right: 30px;
  top: 22px;
  z-index: 5;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.chats-page .chat-area .message-area .send:hover {
  background-color: #222f3e;
  color: #fff;
}

.chats-page .chat-area .message-area .icons {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px);
}

.chats-page .chat-area .message-area .icons i {
  user-select: none;
}

.chats-page .chat-area .message-area .icons i {
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

.chats-page .chat-area .message-area i:hover {
  opacity: 1;
}

.chats-page .chat-area .tox-tinymce {
  height: inherit !important;
}

.chats-page .chats,
.chats-page .info,
.chats-page .chat-area {
  transition: 0.3s ease-in-out;
  height: 100%;
  background-color: #fff;
}

.chats-page .chats,
.chats-page .info {
  z-index: 2;
}

.chats-page .info .header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--light-grey);
  padding: 10px;
  height: 6rem;
}

.chats-page .info .title {
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.chats-page .info h2 {
  font-size: 18px;
}

.chats-page .info h3 {
  font-size: 14px;
  color: var(--grey);
}

.chats-page .info .fa-user-group {
  font-size: 25px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--grey);
  border-radius: 50%;
  margin-right: 10px;
}

.chats-page .info-items {
  color: var(--grey);
}

.chats-page .info-items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-grey);
  padding: 15px;
  cursor: pointer;
}

.chats-page .info-items span {
  margin-left: 5px;
}

.chats-page .close-info {
  width: 0;
  position: fixed;
  right: 0;
}

.chats-page .info .info-details {
  height: calc((100% - 13rem));
  display: none;
}

.chats-page .info .info-details .details-item {
  display: none;
}

.chats-page .info .info-details .details-item {
  height: 100%;
}

.chats-page .info .info-details .details-header {
  border-bottom: 1px solid var(--light-grey);
  font-weight: 500;
  font-size: 17px;
}

.chats-page .info .info-details .details-header .title {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.chats-page .info .details-header .fa-chevron-left {
  display: inline !important;
  margin-right: 10px;
  cursor: pointer;
}

.chats-page .info .files-links nav {
  display: flex;
  justify-content: space-between;
}

.chats-page .info .files-links nav span {
  width: calc(100% / 3);
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  margin: 0 15px;
  padding-bottom: 10px;
  transition: 0.3s ease-in-out;
}
.chats-page .info .files-links nav span:hover {
  border-bottom: 1px solid var(--green);
  color: var(--green);
}

.chats-page .info .files-links nav span.active {
  border-bottom: 2px solid var(--green);
  color: var(--green);
}

.chats-page .info input {
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid var(--light-grey);
}

.chats-page .info textarea {
  padding: 15px;
  margin: 15px;
  width: calc(100% - 30px);
  height: 100%;
  border: 1px solid var(--light-grey);
  border-radius: 10px;
  color: var(--grey);
  white-space: unset;
  line-height: 20px;
}

/* General styles begin */

.chats-page .fa-circle-exclamation,
.chats-page .fa-xmark,
.chats-page .fa-chevron-left {
  color: var(--grey);
  cursor: pointer;
  font-size: 15px !important;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

.chats-page .fa-xmark:hover,
.chats-page .fa-circle-exclamation:hover,
.chats-page .fa-chevron-left:hover {
  opacity: 1;
}

.chats-page .fa-circle-exclamation,
.chats-page .fa-xmark,
.chats-page .fa-chevron-left {
  display: none;
}
