@media only screen and (min-width: 0) and (max-width: 992px) {
  .chats-page .info {
    width: 0;
    position: fixed;
    right: 0;
  }

  .chats-page .info.open {
    width: 50%;
    border-left: 2px solid var(--light-grey);
  }

  .chats-page .chats {
    position: fixed;
    width: 100%;
    border-right: 2px solid var(--light-grey);
    left: -100%;
  }

  .chats-page .info.open {
    width: 100%;
    border: none;
  }

  .chats-page .chats.open {
    left: 0;
    border: none;
  }

  .chats-page .chat-area {
    flex-basis: 100%;
  }

  .fa-circle-exclamation,
  .fa-xmark,
  .fa-chevron-left {
    display: inline !important;
  }
}
